.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .day {
    width: 75px;
    height: 75px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
  }
  